.div{
    height: 500px;
    width: 500px;
    color: aqua;
}
<<<<<<< HEAD
.custom-title {
    color: #005cbb; /* צבע מותאם אישית */
  }
  
=======

.custom-title {
    color: #005cbb;
  }
>>>>>>> 0da8e133da933396c106ecd79fd09817605b65f8
