<!-- <p-toast></p-toast> -->

<div class="container">

  <div class="shadow-box">
    <div class="error-content">
      <div class="error-code">404</div>
      <div></div>
      <div class="error-title">הדף לא נמצא</div>
      <div class="error-text">
        הדף שביקשת אינו קיים או שאין לך הרשאה לגשת אליו.
      </div>

      <button
        mat-fab
        extended
        class="submit-button"
        (click)="goToLogin()"
      >
                חזרה לדף הראשי
      </button>
    </div>
  </div>
</div>
