<<<<<<< HEAD
.custom-title {
    color: #005cbb; /* צבע מותאם אישית */
  }
  
=======
.submit-button {
    color: #2763d2;
}
.custom-title {
    color: #005cbb; 
  }
>>>>>>> 0da8e133da933396c106ecd79fd09817605b65f8
