<div class="container">
    <div class="header">הערכת מנחות - הזדהות</div> 
  <div class="shadow-box"> 
      <form class="form">
          <mat-form-field class="full-width">
              <mat-label>הכניסי מספר תעודת זהות</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" class="input-field">
              <mat-hint></mat-hint>
          </mat-form-field>
          <button mat-fab extended (click)="login()" class="submit-button">המשך</button>
      </form>
  </div>
</div>
 

  
